body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color:#2C2C2C;  /* Green color for headings */
}
h2 {
    color: #3A4F63
}

h3{
    color: #35605A
}

p {
    line-height: 1.6;
    font-size: 1.1em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    margin: 20px 0;
}
